%div{ :class => 'row' }

  %div{ :class => 'span4' }
    %div{ :class => 'page-header' }
      %h1 Make a new one
    %form{ :action => '/items/new', :method => 'post', :class => 'well' }
      %label{ :for => 'url' }
        Full URL
      %input{ :type => 'text', :name => 'url', :placeholder => 'http://...', :class => 'span3' }
      %label{ :for => 'item_id' }
        Short URL (optional)
      %input{ :type => 'text', :name => 'item_id', :placeholder => 'kurz&knapp', :class => 'span3' }
      %button{ :type => 'submit', :class => 'btn' }
        Submit

  = partial(:_list)


